[run]
data_file = .tmp_coverage_files/.coverage

[report]
show_missing=true

exclude_also =
    # coverage doesn't properly detect test coverage for constructors and
    # functions used in parallel with Joblib
    def __init__
    def _calculate_fingerprint

    # it also has problems with Numba JIT functions
    def _bulk_

    # base classes
    raise NotImplementedError
    @(abc\.)?abstractmethod

    # always called implicitly by scikit-learn
    def _validate_params
