.idea
dataset
.ipynb_checkpoints
.pytest_cache
__pycache__
.coverage
*.png
*.svg
*.pdf
*.csv
benchmarking/**/*.npy
dist/
!docs/logos/*

docs/**/generated/
docs/_build/
docs/examples/

.tmp_coverage_files/
tests/preprocessing/input_output/data/mol_out.sdf

.pip_audit_cache
.python-version

.DS_Store
.vscode
