repos:
  - repo: local
    hooks:
      # use local mypy instead of pre-commit hook, since this way we run in venv
      # and have all dependencies
      - id: mypy
        name: mypy
        entry: uv run mypy --package skfp --package tests
        language: system
        pass_filenames: false

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.13.1
    hooks:
      - id: ruff-check  # linter
        args: [ --fix ]
      - id: ruff-format  # formatter
