repos:
  - repo: local
    hooks:
      # use local mypy instead of pre-commit hook, since this way we run in venv
      # and have all dependencies
      - id: mypy
        name: mypy
        entry: poetry run mypy --package skfp --package tests
        language: system
        pass_filenames: false

  - repo: https://github.com/pypa/pip-audit
    rev: v2.7.3
    hooks:
      - id: pip-audit

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.2
    hooks:
      - id: ruff  # linter
        args: [ --config, ruff.toml]
      - id: ruff-format  # formatter
        args: [ --config, ruff.toml ]

  # we use local Xenon instead of pre-commit hook, because:
  # - it seems to have bugs related to "ignore" and "exclude" options
  # - we need separate configs for main library and skfp, since tests have higher
  #   complexity, many moderately long functions mess up cyclomatic complexity
  - repo: local
    hooks:
      - id: xenon_skfp
        name: xenon_skfp
        entry: poetry run xenon skfp --max-average=B --max-modules=B --max-absolute=C
        language: system
        pass_filenames: false

  - repo: local
    hooks:
      - id: xenon_tests
        name: xenon_tests
        entry: poetry run xenon tests --max-average=B --max-modules=C --max-absolute=C
        language: system
        pass_filenames: false