[tool.poetry]
name = "scikit-fingerprints"
version = "0.0.0"   # version is read with poetry-version-plugin on GitHub release from Git tag
description = "Library for effective molecular fingerprints calculation"
authors = ["Scikit-Fingerprints Development Team <scikitfingerprints@gmail.com>"]
repository = "https://github.com/scikit-fingerprints/scikit-fingerprints"
documentation = "https://scikit-fingerprints.github.io/scikit-fingerprints/"
keywords = ["molecular fingerprints", "molecular descriptors", "cheminformatics"]
license = "MIT"
packages = [
    { include = "skfp" }
]
classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Information Technology",
    "Intended Audience :: Science/Research",
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Topic :: Scientific/Engineering :: Artificial Intelligence",
    "Topic :: Scientific/Engineering :: Bio-Informatics",
    "Topic :: Scientific/Engineering :: Chemistry",
    "Topic :: Scientific/Engineering :: Medical Science Apps.",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Typing :: Typed",
]


readme = "README.md"

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/scikit-fingerprints/scikit-fingerprints/issues"


[tool.poetry.dependencies]
python = "^3.9"

datasketch = "*"
descriptastorus = "*"
e3fp = "*"
huggingface_hub = "*"
joblib = "*"
mordredcommunity = "*"
numpy = "^1.20.0"
pandas = "*"
rdkit = "<=2024.3.3"
scikit-learn = "*"
scipy = "*"
tqdm = "*"

[tool.poetry.group.dev]
optional = true

[tool.poetry.group.dev.dependencies]
black = "*"
coverage = "*"
flake8 = "*"
isort = "*"
mypy = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
setuptools = "*"  # to avoid PyCharm errors
xenon = "*"

[tool.poetry.group.test]
optional = true

[tool.poetry.group.test.dependencies]
black = "*"
isort = "*"
mypy = "*"
pre-commit = "*"
pytest = "*"
xenon = "*"

[tool.poetry.group.doc]
optional = true

[tool.poetry.group.doc.dependencies]
pydata-sphinx-theme = "*"
sphinx = "*"
sphinx-copybutton = "*"

[tool.poetry.group.eval]
optional = true

[tool.poetry.group.eval.dependencies]
lightgbm = "*"
ogb = "*"

[tool.poetry-version-plugin]
source = "git-tag"

[tool.pytest.ini_options]
python_files = "*.py"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
