name: Tests & checks

on:
  pull_request:
  workflow_dispatch: # allow running manually from the Actions tab

# cancel previous runs on a new commit
concurrency:
  group: ${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  ci:
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]
        os: [macos-latest, ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - uses: actions/cache@v5
        name: Cache venv
        with:
          path: ./.venv
          key: ${{ matrix.os }}-venv-${{ matrix.python-version }}-${{ hashFiles('**/uv.lock') }}

      - uses: actions/cache@v5
        name: Cache datasets
        with:
          path: ~/scikit_learn_data
          key: datasets

      - name: Install the project dependencies
        run: uv sync --group test
        shell: bash

      - name: Check pre-commit
        run: uv run pre-commit run --all-files

      - name: Run tests with pytest
        run: uv run make test
