name: Publish Python package to TestPyPI

on:
  push:
    branches:
      - master

  # allow running manually from the Actions tab
  workflow_dispatch:

permissions:
  contents: read

# allow only one concurrent deployment, but do NOT cancel in-progress runs,
# as we want to allow these deployments to complete
concurrency:
  group: "TestPyPI"
  cancel-in-progress: false

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.10"

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      # set version (e.g. 1.2.3) from the latest Git tag on master branch
      - name: Set package release version
        # :1 changes "v1.2.3" to "1.2.3", where "v1.2.3" is tag string
        # timestamp "YYYYMMDDHHMMSS" is added at the end
        run: |
          LATEST_TAG=$(git describe --tags --abbrev=0)
          uv version ${LATEST_TAG:1}.$(date +'%Y%m%d%H%M%S')
        shell: bash

      - name: Build and publish to TestPyPI
        run: >-
          uv build
          && uv publish --index testpypi --token ${{ secrets.TEST_PYPI_API_TOKEN }}
