name: Tests & checks

on:
  pull_request:
  workflow_dispatch: # allow running manually from the Actions tab

# cancel previous runs on a new commit
concurrency:
  group: ${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  ci:
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]
        os: [macos-latest, ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Cache datasets
        uses: actions/cache@v5
        with:
          # GitHub Actions can't create a cache key on dataset contents, so we use
          # dataset loader .py files instead
          path: ~/scikit_learn_data
          key: ${{ hashFiles('skfp/datasets/**/*.py') }}

      - name: Install the project dependencies
        run: uv sync --group test
        shell: bash

      - name: Check pre-commit
        run: uv run pre-commit run --all-files

      # TODO revert this path change after debugging
      - name: Run tests with pytest
        run: uv run pytest tests/datasets/lrgb.py

      - name: Debug
        run: ls {{ $HOME }}
        shell: bash
